<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>О нас</title>
</head>

<body>
    <div class="fixed-header">
        <div class="fixed-header__item site-name">СОЮЗ ЮМОРИСТОВ</div>
        <a href="/" class="fixed-header__item">Главная</a>
        <a href="/add" class="fixed-header__item">Добавить анекдот</a>
        <a href="/rules" class="fixed-header__item">Правила сайта</a>
        <a href="/about" class="fixed-header__item">О нас</a>
    </div>
    <div class="main-container">
        

        <div class="anec">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Risus
                feugiat in ante metus dictum at. Aliquet risus feugiat in ante metus dictum at. Ac placerat vestibulum
                lectus mauris ultrices eros in cursus turpis. Purus ut faucibus pulvinar elementum integer enim neque
                volutpat. Pharetra convallis posuere morbi leo urna. Ac turpis egestas integer eget aliquet. Nam libero
                justo laoreet sit amet cursus sit amet. Elementum eu facilisis sed odio morbi quis commodo. Feugiat
                scelerisque varius morbi enim nunc. Viverra orci sagittis eu volutpat odio facilisis. Eu facilisis sed
                odio
                morbi quis commodo odio aenean sed. Leo vel orci porta non pulvinar neque laoreet.
            </p>

            <p>
                Consequat ac felis donec et odio pellentesque diam volutpat. Ut diam quam nulla porttitor massa id neque
                aliquam. Enim neque volutpat ac tincidunt vitae semper quis lectus. Duis ultricies lacus sed turpis
                tincidunt id aliquet. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Elementum
                nisi
                quis eleifend quam adipiscing vitae. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit
                lectus. Euismod elementum nisi quis eleifend quam. Ipsum dolor sit amet consectetur adipiscing elit
                pellentesque habitant morbi. Elit sed vulputate mi sit amet mauris commodo. Quisque egestas diam in arcu
                cursus euismod quis viverra. Et magnis dis parturient montes nascetur ridiculus.
            </p>

            <p>
                Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Suspendisse in est ante in
                nibh
                mauris cursus. Bibendum arcu vitae elementum curabitur vitae. Adipiscing vitae proin sagittis nisl
                rhoncus
                mattis. Luctus accumsan tortor posuere ac ut consequat semper viverra nam. Tempus egestas sed sed risus
                pretium quam vulputate. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Molestie
                ac
                feugiat sed lectus vestibulum mattis. Aenean sed adipiscing diam donec adipiscing tristique risus nec.
                Sit
                amet venenatis urna cursus eget nunc scelerisque. Adipiscing enim eu turpis egestas pretium. Lectus sit
                amet
                est placerat in egestas erat.
            </p>
            <div class="anec">
                <h3>Мы в соцсетях:</h3>
                <ul>
                    <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">ВКонтакте</a></li>
                    <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Одноклассники</a>
                    </li>
                    <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Телеграм</a></li>
                </ul>
            </div>

        </div>
    </div>



</body>

</html>