<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>ДОБАВИТЬ ПРЕКОЛ</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="fixed-header">
        <div class="fixed-header__item site-name">СОЮЗ ЮМОРИСТОВ</div>
        <a href="/" class="fixed-header__item">Главная</a>
        <a href="/add" class="fixed-header__item">Добавить анекдот</a>
        <a href="/rules" class="fixed-header__item">Правила сайта</a>
        <a href="/about" class="fixed-header__item">О нас</a>
    </div>
    <div class="center-container">

        <form id="addForm" class="add-container" noValidate="true" method="post">
            <textarea class="add-textarea" id="anecTextarea" rows="4" cols="50" placeholder="Введите свой анекдот"
                required></textarea>
            <div class="help stretch" id="emptyText">Введите анекдот</div>
            <div class="checkbox-container fix_row3">
                <input type="checkbox"  class="checkbox-input" id="agreementCheck" required>
                <label for="agreementCheck"  class="checkbox-label" id="agreementLabel">Анекдот соответствует правилам сайта</label>

            </div>


            <button type="submit" class="add-button fix_row3" id="submitButton">Добавить</button>
            <div class="help agr-error fix_row4" id="emptyAgreement">Необходимо поставить согласие</div>



        </form>

    </div>



    <div id="modal" class="modal">
        <div class="modal-content">
            <p>Ваш анекдот был отправлен на проверку администратору</p>
            <div class="modal-footer">
                <button id="addAnecButton" class="button">Добавить еще анекдот</button>
                <button id="toHomeButton" class="button">На главную страницу</button>
            </div>
        </div>

    </div>


    <script type="text/javascript" src="add.js"></script>

</body>

</html>