<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Document</title>
</head>

<body>
    <div class="center-container">
            <form id="adminValidationForm" class="center-container" method="post" action="/admin">
                <label for="password" >Пароль от админки: </label>
                <input type="password" name="password" class="password-input" id="password"  />
                <button id="adminValidationButton">Войти</button>
            </form>
    </div>
    <script type="text/javascript" src="/admin_validation.js"></script>
</body>

</html>