<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="admin.js"></script>
    
</head>

<body onload="showAnecsList()">
    
    <div class="main-container">
        <div class="anecs-list">
        </div>
        <button id="saveButton" class="save-button">Сохранить изменения</button>
    </div>

    

   
</body>

</html>