<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main-container">
        <h3 class="lonely-text">Неверный пароль</h3>
        <div class="image-container display" id="imgContainer">
            <img src="/no_password.jpg">
        </div>
        <button id="tryAgainButton">Попоробовать еще раз</button>
    </div>

    <script>
        const tryAgainButton = document.getElementById('tryAgainButton');
        tryAgainButton.addEventListener('click', function () {
            window.history.back();
        })
    </script>
</body>

</html>